{
    auto_https disable_redirects
}

http:// {
    redir https://archdox.co.kr{uri} 308
}

archdox.co.kr {
    encode zstd gzip
    reverse_proxy web:80
}

www.archdox.co.kr {
    redir https://archdox.co.kr{uri} 308
}
