{
    auto_https disable_redirects
}

http://archdox.co.kr, http://www.archdox.co.kr {
    redir https://archdox.co.kr{uri} 308
}

http:// {
    respond "Not Found" 404
}

archdox.co.kr {
    encode zstd gzip
    reverse_proxy web:80
}

www.archdox.co.kr {
    redir https://archdox.co.kr{uri} 308
}
